.home {
    margin: 0 5vw;
    padding-top: calc(var(--toolbar-height) + 30px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5vw;

    &__daily-classes-header {
        display: grid;
        grid-template-columns: 1fr 56px 56px;
        align-items: center;
        margin-bottom: 3vh;
        gap: 10px;
    }

    &__daily-classes-title {
        margin: 0;
    }

    &__daily-classes-class {

        &--participent {
            display: flex;
            justify-content: start;
            align-items: baseline;
            margin-bottom: 5px !important;
            gap: 10px;
            
            p {
                font-size: 12px;
                padding: 0 5px !important;
    
                &:last-child {
                    padding-bottom: 5px !important;
                }
    
                &:first-child {
                    padding-top: 5px !important;
                }
            }

            button {
                height: 30px;
                width: 30px;
    
                &::ng-deep mat-icon {
                    font-size: 16px;
                }
            }
        }

        &--auditorium {

            &--capacity {
                font-size: 12px;
            }
        }

        &--add-btn {
            height: 30px;
            width: 30px;

            &::ng-deep mat-icon {
                font-size: 16px;
            }
        }
    }

    &__daily-classes-class-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background: #87c3bf;
        gap: 15px;
        margin-bottom: 1vh;

        &--white {
            background: unset;

            * {
                color: black !important;
            }
        }

        &--actions {
            margin-bottom: 25px;
        }

        p {
            padding: 5px;
        }

        * {
            color: white;
            line-height: 1.5;
            margin: 0;
        }
    }
}