<app-toolbar></app-toolbar>

<div class="home">
    <div class="home__daily-classes">
        <div class="home__daily-classes-header">
            <h2 class="home__daily-classes-title">לוח חוגים יומי - {{calendarActiveDate | dateFormat}}:</h2>
        
            <ng-container *ngIf="isAdmin">

                <button mat-fab class="home__daily-classes-add-btn" (click)="addClass()" matTooltip="הוספת שיעור חדש">
                    <mat-icon>add</mat-icon>
                </button>
    
                <button mat-fab class="home__daily-classes-add-btn" (click)="runAlgorithem()" matTooltip="הרץ אלגוריתם סידור">
                    <mat-icon>online_prediction</mat-icon>
                </button>

            </ng-container>
        </div>

        <div class="home__daily-classes-body">
            <div class="home__daily-classes-class" *ngFor="let class of dailyClasses | sort:'hour'">
                <div class="home__daily-classes-class-row">
                    <p class="home__daily-classes-class--type">{{class.type}}</p>
                    <p class="home__daily-classes-class--auditorium">
                        <ng-container *ngIf="(getAuditorium(class)) as auditorium">
                            {{auditorium.name}} <span class="home__daily-classes-class--auditorium--capacity">(מוגבל עד {{auditorium.capacity}} איש)</span>
                        </ng-container>
                    </p>
                    <p class="home__daily-classes-class--hour">שעה: {{class.hour}}:00</p>
                    <p class="home__daily-classes-class--participents">משתתפים: {{class.participents?.length || 0}}</p>
                    <p class="home__daily-classes-class--waiting-list">רשימת המתנה: {{class.waitingList?.length || 0}}</p>
                </div>

                <div class="home__daily-classes-class-row home__daily-classes-class-row--white">
                    <p class="home__daily-classes-class--type"></p>
                    <p class="home__daily-classes-class--auditorium"></p>
                    <p class="home__daily-classes-class--hour"></p>
                    <div class="home__daily-classes-class--participents">
                        <div class="home__daily-classes-class--participent" *ngFor="let participent of getParticipents(class) | sort:'name'">

                            <ng-container *ngIf="isAdmin">

                                <button mat-fab (click)="removeParticipent(class, participent.uid)" matTooltip="הסר השתתפות">
                                    <mat-icon>remove</mat-icon>
                                </button>

                            </ng-container>

                            <p>{{participent.name}}</p>
                        </div>
                    </div>
                    <div class="home__daily-classes-class--waiting-list">
                        <div class="home__daily-classes-class--participent" *ngFor="let participent of getWaitingList(class) | sort:'name'">

                            <ng-container *ngIf="isAdmin">

                                <button mat-fab (click)="removeWaitingList(class, participent.uid)" matTooltip="הסר השתתפות">
                                    <mat-icon>remove</mat-icon>
                                </button>

                            </ng-container>

                            <p>{{participent.name}}</p>
                        </div>
                    </div>
                </div>

                <div class="home__daily-classes-class-row home__daily-classes-class-row--white home__daily-classes-class-row--actions">
                    <p class="home__daily-classes-class--type"></p>
                    <p class="home__daily-classes-class--auditorium"></p>
                    <p class="home__daily-classes-class--hour"></p>
                    <div class="home__daily-classes-class--participents">

                        <ng-container *ngIf="isAdmin">

                            <button mat-fab class="home__daily-classes-class--add-btn" [disabled]="!canJoinClass(class)" (click)="addParticipent(class)" matTooltip="רישום משתתף">
                                <mat-icon>add</mat-icon>
                            </button>

                        </ng-container>

                        <ng-container *ngIf="isMember">

                            <ng-container *ngIf="isMyselfInClass(class)">
                                <button class="home__daily-classes-class--add-btn-myself" (click)="removeMyselfFromClass(class)">
                                    <span>הסר אותי מהשיעור</span>
                                </button>
                            </ng-container>

                            <ng-container *ngIf="!isMyselfInClass(class)">
                                <button class="home__daily-classes-class--add-btn-myself" [disabled]="!canJoinClass(class)" (click)="addMyselfToClass(class)">
                                    <span>הירשם לשיעור</span>
                                </button>
                            </ng-container>

                        </ng-container>

                    </div>
                    <div class="home__daily-classes-class--waiting-list">

                        <ng-container *ngIf="isAdmin">

                            <button mat-fab class="home__daily-classes-class--add-btn" [disabled]="canJoinClass(class)" (click)="addWaitingList(class)" matTooltip="רישום משתתף לרשימת הממתנה">
                                <mat-icon>add</mat-icon>
                            </button>

                        </ng-container>

                        <ng-container *ngIf="isMember">
                            
                            <ng-container *ngIf="isMyselfInWaitingList(class)">
                                <button class="home__daily-classes-class--add-btn-myself" (click)="removeMyselfFromWaitingList(class)">
                                    <span>הסר אותי מהרשימה</span>
                                </button>
                            </ng-container>

                            <ng-container *ngIf="!isMyselfInWaitingList(class)">
                                <button class="home__daily-classes-class--add-btn-myself" [disabled]="canJoinClass(class) || isMyselfInClass(class)" (click)="addMyselfToWaitingList(class)">
                                    <span>הירשם לרשימת המתנה</span>
                                </button>
                            </ng-container>

                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-calendar (dateChanged)="dateChanged($event)"></app-calendar>
</div>

<mat-card *ngIf="isLoading" class="mat-progress-spinner">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</mat-card>