.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.display-name {
  color: white;
}

.image img {
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
}

.navbar {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  height: 64px;
  line-height: 64px;
  width: 100%;
  text-align: center;
  gap: 7vw;
}

.nav-link {
  color: white;
  text-decoration: underline;
  font-size: 0.9em;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 3vw;
}

.navbar-links ul li a {
  color: white;
}

.login mat-icon {
  position: relative;
  top: 6px;
  padding-right: 5px;
  color: white;
}

.title-bar {
  padding: 0;
  display: grid;
  grid-template-columns: auto 60px;
  height: 64px;
  line-height: 64px;
  width: 100%;
  text-align: center;
  gap: 7vw;
}

.title-bar .title h1 {
  font-size: 30px;
  line-height: 56px;
  font-weight: bold;
  color: white;
}

.title-bar .home img {
  height: 45px;
  vertical-align: middle;
  padding-bottom: 3px;
  cursor: pointer;
}

.logout {
  cursor: pointer;
  color: #325956;
}

.logout:hover {
  text-decoration: underline;
}
