<mat-toolbar>
    <div class="navbar">
      <div class="login">
        <ng-container *ngIf="!!loggedIn">
          <span *ngIf="!!name" class="display-name">היי {{ name }}</span> |
          <span class="logout" (click)="logout()">התנתק</span>
        </ng-container>

        <ng-container *ngIf="!loggedIn">
          <a class="nav-link" [routerLink]="'/login'">התחברות למערכת</a>
          <mat-icon>account_box</mat-icon>
        </ng-container>
      </div>

      <div class="navbar-links">
        <ul>
          <li>
            <a [routerLink]="'/home'">ראשי</a>
          </li>
          <li *ngIf="isMember">
            <a [routerLink]="'/club-member-profile'">פרטי מנוי</a>
          </li>
          <li *ngIf="isAdmin || isTeacher">
            <a [routerLink]="'/club-members'">רשימת מנויים</a>
          </li>
          <li *ngIf="isAdmin || isTeacher">
            <span class="click" (click)="exportClubMembers()">דו״ח מנויים</span>
          </li>

          <li *ngIf="isAdmin || isTeacher">
            <span class="click" (click)="exportClasses()">דו״ח שיעורים</span>
          </li>
        </ul>
      </div>
    </div>

</mat-toolbar>
