.type {
    line-height: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    gap: 10px;
}

mat-form-field {
    margin: 15px 0;

    &:last-child {
        margin-bottom: 30px;
    }
}